.logo-blue {
  font-family: Raleway;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
}
#logo {
  text-decoration: none;
  font-family: 'Oleo Script', cursive;
  color: #000000;
  font-weight: 400;
  font-size: 26px;
  line-height: 35.96px;
}
