:root {
  /*Fonts*/
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /*Text colors*/
  --main-txt-cl: #212121;
  --logo-hover-txt-cl: #2196f3;

  /*Background colors*/
  --first-bg-cl: #ffffff;
  --second-bg-cl: #2f303a;
  --third-bg-cl: #f5f4fa;

  /*Others*/
}

body {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  width: 1600px;
}

.header {
  padding: ;
}
.logo {
  text-decoration: none;
  font-family: var(--logo-font);
  color: #000000;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  position: absolute;
  width: 145px;
  padding: 24px 93px 25px 215px;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--logo-hover-txt-cl);
  font-weight: 700;
  line-height: 30.52px;
}
.nav-list {
  padding: 32px 866px 32px 453px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-item {
  padding-right: 50px;
  padding-top: 32px;
}
.nav-link {
  text-decoration: none;
  color: var(--main-txt-cl);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding: 5px;
}
.nav-link:hover {
  color: var(--logo-hover-txt-cl);
  border: 2px solid #2196f3;
}
.contacts-links {
}
.contacts-item {
}
.contacts-link {
}
.hero {
}
.hero-title {
}
.hero-btn {
}
.features {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-description {
}
.feature-item {
}
.feature-title {
}
.feature-text {
}
.services {
}
.services-title {
}
.services-list {
}
.services-item {
}
.services-img {
}
.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-img {
}
.footer {
}
.address {
}
.mail {
}
.tel {
}

/*CSS for Portfolio*/

.portfolio {
}
.filtr-btns-list {
}
.filtr-btn-item {
}
.filtr-btn {
}
.cards-list {
}
.card-item {
}
.card-img {
}
.card-title {
}
.card-discription {
}
